.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* Navbar*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  border-radius: 5px;
}
input {
  margin: 25px;
  padding-left: 60px;
  border-radius: 10px;
}
li,
.navbar {
  padding: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ul {
  margin: 25px;
}
/* Page Home*/
body {
  background-color: bisque;
}
main {
  margin: 40px;
  background-color: white;
  border-radius: 50px 15px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: small;
  font-style: italic;
}
/*Titre bloompetals*/
h1 {
  display: flex;
  justify-content: center;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xxx-large;
}
h2 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Logo a cote du h1*/
.logofleur {
  width: 60px;
}
/*A propos en dessous le titre*/
.apropos {
  padding: 30px;
  text-align: center;
}
/* img page home*/
.imgdebut {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-image: url(images\ fleur/background.jpg);
  background-size: 400px;
  height: 10em;
  padding: 20px;
}
.mes-img {
  border: solid 2px;
  border-color: grey;
  padding: 10px;
  border-radius: 5px;
}
/*Service de bloompetals*/
.service {
  display: flex;
  padding: 20px;
}
/*footer*/
footer {
  background-color: grey;
  height: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
footer a {
  display: inline;
  padding: 0;
  margin: 0;
}
/*Page contact avec le form*/
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.checkbox {
  display: inline;
  justify-content: flex-start;
}
/*Page entreprise*/
/*image de l'equipe*/
.img-equip1 {
  height: 145px;
  padding: 10px;
  border: solid;
  border-radius: 20px;
  border-color: grey;
}
.div-equip1 {
  display: flex;
  flex-direction: row;
  background-image: url(images\ fleur/background1.jpg);
  background-size: 300px;
  padding: 20px;
}
@media (max-width: 780px) {
  .div-equip1 {
    flex-direction: column;
    width: 80%;
  }
  nav {
    display: flex;
    align-items: center;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .imgdebut {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.imgequip {
  height: 180px;
  border-radius: 50%;
}
/*Page realisation*/
.realisation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  padding: 10px;
}
.imgrea {
  width: 40%;
  padding: 20px;
  border: solid;
  border-radius: 15px;
}
